@import url('https://fonts.cdnfonts.com/css/quark');
@import url('https://fonts.cdnfonts.com/css/quark');

  .cabecalho {
    color: rgb(0, 0, 0);
    font-family: 'Quark', sans-serif;
    font-weight: bold;
    text-align: center;
    font-family: 'Quark', sans-serif;
    /* background-color: rgb(248, 244, 233); */
    align-items: center;
    padding: 1px;
    border: 2px solid rgb(255,187,0);
    border-radius: 30px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-weight:500;
    font-family: 'Quark', sans-serif;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.658);
  }
  
  h3 {
    font-size: 1.2rem;
  }